# Standard
bin/
gen/
classes/
build/
.build/

# Gradle
.gradle

# Windows / MacOS
.DS_Store

# Intellij / Android Studio / Rider
*.iml
.idea/

# Android
local.properties

# Cocoapods
*.podspec

# Nuget
*.dll
*.nupkg
*.p7s
obj/
packages/

# Rider
*.user
_ReSharper.Caches/


