# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.kt text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.sh text eol=lf
