# Standard
bin/
build/
captures/
classes/
gen/
schemas/
.build/
.externalNativeBuild/
.gradle/
.kotlin/
.navigation/
*.aab
*.aar
*.apk
*.framework
*.generated.swift
*.hmap
*.ipa
*.keystore
*.log
*.xcframework
*.zip

# OS
.DS_Store

# Intellij / Android Studio / Rider / Fleet
.fleet/
.idea/
.vscode/
*Caches/
xcuserdata/
*.iml
*.user
*.xcworkspace
local.properties

# Nuget
obj/
packages/
*.dll
*.nupkg
*.p7s

# Cocoapods
Pods/
Podfile.lock

# Swift Package Manager
Packages/
Package.resolved
